
#full-tree {
	margin-top: 20px;
}

.tree-folder {
	display: inline-block;
	padding-left: 7px;
	border-radius: 4px;
	vertical-align: middle;
	color: #554;
	background: #ecece2;
	font-weight: bold;
	font-size: 12px;
	box-shadow: inset 1px 1px #ddc, inset -1px -1px #ddc;
}

.tree-count {
	display: inline-block;
	margin-left: 8px;
	padding: 0 5px;
	border-radius: 4px;
	background: #bba;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	line-height: 18px;
	text-shadow: 1px 1px 3px #665;
	box-shadow: inset 1px 1px 0px #aa9;
}

.tree-top .tree-count {
	line-height: 22px;
}

.tree-examples {
	display: inline-block;
	font-style: italic;
	vertical-align: middle;
}

.tree-examples:before {
	content: "e.g. ";
}

.tree-alias {
	font-style: italic;
}

.tree-alias:before {
	content: "(";
}

.tree-alias:after {
	content: ")";
}

/* fancytree skin */

ul.fancytree-container {
	display: inline-block;
	border: none;
	background: transparent;
}

ul.fancytree-container:focus {
	outline: none;
}

span.fancytree-title {
  border: 1px solid transparent;
  border-radius: 0;
}

span.fancytree-focused span.fancytree-title {
  outline: none;
}

span.fancytree-selected span.fancytree-title,
span.fancytree-active span.fancytree-title {
  background-color: transparent;
}

span.fancytree-selected span.fancytree-title {
  font-style: normal;
}

.fancytree-treefocus span.fancytree-selected span.fancytree-title,
.fancytree-treefocus span.fancytree-active span.fancytree-title {
  color: inherit;
  background-color: transparent;
}

.s-icon,
span.fancytree-checkbox {
	background: none!important;
    font: normal normal normal 14px/1 icons;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    vertical-align: middle;
    width: 14px;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
}

span.fancytree-expander {
    vertical-align: middle;
}

span.fancytree-title {
    vertical-align: middle;
}

/*

\f096 - square outline
\f0c8 - square full

\f046 - square outline checked
\f14a - square full checked

\f10c - circle outline
\f192 - circle outline checked

\f08b - square out
\f00c - check
\f069 - asterix

*/

.fancytree-checkbox:hover  {
    color: #c06;
}

.fancytree-checkbox:before {
    content: "\f096"; /* square outline */
}

.fancytree-partsel>.fancytree-checkbox:before {
	content: "\f0c8"; /* square full */
    color: #b36;
}

.fancytree-selected>.fancytree-checkbox:before {
	content: "\f14a"; /* square full checked */
    color: #a36;
}

/* autocomplete */

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	background: #fff;
	border: 1px solid #999;
	box-shadow: 3px 3px 3px rgba(99, 99, 99, 0.2);
}

.ui-front {
	z-index: 100;
}

.ui-menu {
	list-style: none;
	padding: 5px 10px;
	margin: 0;
	display: block;
	outline: none;
}

.ui-menu-item {
	display: block;
	white-space: nowrap;
	line-height: 1.5em;
}

.ui-menu-item>a {
	color: #443;
}

.ui-state-focus {
	background: #eed;
}

.ui-helper-hidden-accessible {
	display: none;
}